<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xghh.mc.dao.UserDao">

    <select id="selectUserByName" resultType="com.xghh.mc.pojo.User">
        select * from userinfo where UserName=#{UserName}
    </select>

    <select id="selectAllUser" resultType="com.xghh.mc.pojo.User">
        select * from userinfo
    </select>

    <insert id="insertUser" parameterType="com.xghh.mc.pojo.User" keyProperty="id" useGeneratedKeys="true">
        insert into userinfo
        (UserName,Password,PhoneNumber,Salt)
        values
        (#{UserName},#{Password},#{PhoneNumber},#{Salt})
    </insert>

    <delete id="deleteUserById">
        delete from userinfo where UserId=#{UserId}
    </delete>
</mapper>